.topic {
	text-align: center;
	
	.fixed {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
	}

	.navi {
		z-index: 2;
		background-color: hsl(0, 0%, 10%);
		height: 60px;
		width: 60vw;
		padding: 10px;
		margin: 0 auto;
		border-radius: 5px 0 5px 0;
		.btn {
			transition: all .3s ease;
			height: 40px;
			color: white;
			font-size: 1.2em;
			width: 80px;
			border: none;
			margin-right: 8px;
			background-color: rgba(50,120,160,0.8);
			&:hover {
				background-color: rgba(50,70,160,0.8);
			}
		}
	}

	.image-preview {
		animation: fadein 0.65s ease-out;

		@keyframes fadein {
			0% { opacity: 0 }
			100% {opacity: 1 }
		}
	}
}