.topic {
	text-align: center;
	
	.fixed {
		position: fixed;
		top: 0;
	}

	.navi {
		z-index: 2;
		background-color: hsl(0, 0%, 10%);
		height: 60px;
		width: 90%;
		padding: 10px;
		margin: 0 auto;
		border-radius: 5px 0 5px 0;
		button {
			height: 40px;
			color: white;
			font-size: 1.2em;
		}
		.next {
			width: 80px;
			border: none;
			background-color: rgba(50,120,160,0.8);
		}
		.last {
			width: 60px;
			border: 1px solid rgba(20,20,220, 1);
			background-color: rgb(0,0,0);
		}
	}

	.image-preview {
		animation: fadein 0.65s ease-out;

		@keyframes fadein {
			0% { opacity: 0 }
			100% {opacity: 1 }
		}
	}
}